<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Innovative, groundbreaking, uncomfortably warm. Sushi Warehouse is about bringing you closer to the people you love.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">An idea is born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While driving through New Jersey, CEO and Founder Mike Kelly was visited by visionary inspiration</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">Refinements and iteration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Public and private markets began to realize that Sushi Warehouse was easily the largest unicorn of the 21st century</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Meteoric growth and unstoppable traction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first closed alpha releases were overwhelmed with user interest, temporarily DOS'ing the AWS US-East datacenter and three major payment gateways</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015</h4>
                                    <h4 class="subheading">Major disruption and preparation for public beta</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The groundbreaking Sushi Warehouse lifestyle gained mainstream appeal, causing the first wave of disrupted incumbent businesses to collapse</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>