<!-- Services Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Experience</h2>
                    <h3 class="section-subheading text-muted">An elite, curated user experience and lifestyle</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">A Giant Pile of Sushi</h4>
                    <p class="text-muted">An enormous, uncomfortably warm, slightly humid warehouse containing a giant pile of sushi from NJ gas stations, conveniently presliced in bite size rolls. You get five minutes to make amazing happen</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Shovels and Burlap Sacks</h4>
                    <p class="text-muted">Whatever sushi you shovel into your burlap sack before the buzzer is yours to keep. You and your sack are weighed together before and after - lose some weight from sweat, gain some weight from sushi </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Compete with Friends</h4>
                    <p class="text-muted">An overhead leaderboard/buzzer tracks performance, while your stats and rankings are uploaded to our global drone fleet for transmission from the cloud to your phone, anywhere on earth</p>
                </div>
            </div>
        </div>
    </section>